* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a{
	display: block;
}

/*------------------header-----------------------------------*/
header{
	height: 160px;
}

 .header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
} 
.topTopMenu{
	background-color: #424242;
	padding: 10px;

}

.topLinks {
	display: flex;
	justify-content: flex-end;
}
.topLinks a{
	display: block;
	text-decoration: none;
	color:#d5d5d4;
}
.topLinks a:hover{
	color:#90d472;
	transform: scale(1.2);
}
.topLinks li{
	list-style: none;
	padding: 0 27px;
	font-size: 19px;
}
.topMenu{
	background-image: linear-gradient(to bottom, white, #CAFAF4);
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content:space-around;
	align-items: center;
	overflow: hidden;
}
.logo{
	height: 85px;
}
.logo:hover{
	transition: all 0.5s ease;
	transform: scale(0.8);
	cursor: pointer;
}

.search{
	border: 2px solid #7bb562;
	min-height: 25px;
	outline: none;
	width:100%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

#searchField{
	border: none;
	outline: none;
	vertical-align: middle;
	background-color: transparent;
	margin: 0; 
	padding: 2px 5px;
	height: 26px;
	width:70%;
	font-size: 18px;
	color:green;

}
#searchButton{
	border: none;
	outline: none;
	vertical-align: middle;
	margin: 0; 
	background-color: transparent;
	height: 26px;
	width: 30%;
	color: #7bb562;
	font-size: 18px;
	font-family: 'Myriad Pro', san-serif;
	cursor: pointer;
	border-left: 2px solid #7bb562;


}

#searchButton:hover{
	color:black;
	
}

.buttons{
	display: flex;
}
.button1, .button2{
	position: relative;
	width: 50%;
}

 .button2{
	padding: 5px;
}

#checkNumber{
	display: none;
	position: absolute;
	top:-5px;
	left:25px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	color: black;
	font-size: 15px;
	font-weight: bolder;
	border: 1px solid gray;
	border-radius: 50%;
	background-color: white;
	text-align: center;
	vertical-align: middle;
	z-index: 2;
}

#likeNumber{
	display: none;
	position: absolute;
	top:-5px;
	left:45px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	color: black;
	font-size: 15px;
	font-weight: bolder;
	border: 1px solid gray;
	border-radius: 50%;
	background-color: white;
	text-align: center;
	vertical-align: middle;
	z-index: 2;
}

#buttonCheck{
	  opacity: 0.7;
	  transition: all 0.5s ease;
}
#buttonLike{
	margin: 0 40px 0 20px;
	opacity: 0.7;
	transition: all 0.5s ease;
	width: 40px;
	height: 40px;
}

#buttonCheck:hover{
	  opacity: 1;
	  transform: scale(1.2);
}
#buttonLike:hover{
	opacity: 1;
	transform: scale(1.2);

}

.navDiv, .topMenu{
	border-bottom: 1px solid black;

}

.navDiv{
	background-color: white;

}

.navigation{
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content:space-around;
	align-items: center;
	list-style: none;
	font-size: 19px;
	
	
}
.navigation a{
	text-decoration: none;
	color:#5b5b5b;
	padding: 0 15px;

}
.navigation a:hover{
	background-image:linear-gradient(to bottom, #92d673, #7bb562);
	color: white;

}


/*----------------main-------------------------*/

.sliderContainer{
	height: 360px;
	padding: 20px;

}
.slider{
	width: 80%;
	height: 320px;
	background-image: url(img/banner-back.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;

}

.slider>div{
	height: 320px;
}

.sliderDiv {
	height: 100%;
	width: 100%;
	padding: 45px;
}

.sliderDiv>img {
	float: left;
}

.sliderDiv h1{
	color: white;
	font-size: 47px;
	font-family: 'Myriad Pro', san-serif;
	text-align: center;
	margin-top: 35px;
}
.sliderDiv h2{
	color: white;
	font-size: 25px;
	font-family: 'Myriad Pro', san-serif;
	text-align: center;
}
.sliderDiv h3{
	color: white;
	font-size: 21px;
	font-family: 'Myriad Pro', san-serif;
	text-align: center;
}





/*------------------left side-------------------------------*/

 #leftSideHide{
	display: none;
} 
.center{
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content:space-around;
	padding : 15px;
}



.leftSide{
	width: 25%;
	
}

.leftSide>div{
	padding : 10px 30px;
	border: 1px solid grey;
	border-radius: 10px;
	
}


.leftSide a{
	display: block;
	text-decoration: none;
	color:grey;
	display: block;
}
.leftSide li{
	list-style: none;
	font-size: 15px;
	font-weight: bolder;
	padding: 5px 0;
}

.leftSide a:hover{
	background-image:linear-gradient(to bottom, #92d673, #7bb562);
	color: white;

}
.leftSide h1{
	font-size: 24px;
}
div.leftSide > h2 > a{
	font-size: 17px;
	text-transform: uppercase;
	color:black;
	font-weight: bolder;
}

.categoryList li{
	border-top: 0.4px solid grey;
}

.section{
	display: inline;
	border:1px solid grey;
}

/* ----------right side---------------------------------------- */

.rightSide{
	width: 70%;	
	
}

.rightSide > div, .rightSide > input { 
  display: none; 
}

.rightSide label { 
  padding: 10px 25px; 
  border: 1px solid grey; 
  height: 60px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  background-color: #CAFAF4;
  margin: 0 -6px -6px 0;
  cursor: pointer; 
  position: relative; 
  bottom: 0px; 
  background: #CAFAF4;
  font-size: 18px;
}

.rightSide  > label[for="vkl3"] { 
  border-top-right-radius: 10px;
}

.rightSide  > label:hover{
color:green;

}

.rightSide input[type="radio"]:checked + label { 

  background-color: white;
  border-bottom:2px solid white;
}

.rightSide > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.rightSide > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.rightSide > input:nth-of-type(3):checked ~ div:nth-of-type(3) { 
  display: grid; 
  margin-top: -6px;
  
}





/*-------------books grid-------------*/

.gridContainerBooks{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-gap: 5px 5px;
	border: 1px solid grey;
	padding : 30px;
}

.gridItemsBooks  p{
	text-align:center;
}

.items{
	position: relative;
	width: 145px;
	height: 300px;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}

.items p{
	padding: 5px;
	color: grey;
}

.items img{
	width: 125px;
	height: 170px;
}

p.price{
	font-size: 22px;
	color:red;
}

.add-to-cart{
	width: 40px;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	color: #5cba5c;
	cursor: pointer;

	border: 1px solid #5cba5c;
	border-radius: 50%;
	outline: none;
	box-shadow: none;

	position: absolute;
	top: 50px;
	right: -5px;


}

.add-to-cart:hover{
	transform: scale(1.2);
	font-weight: bolder;
	border-width: 2px;
}

.addLike{
	position: absolute;
	top: -5px;
	right: -5px;

	width: 30px;
	height: 30px;

	background: url(img/like4.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15px;
	border: none;

	cursor: pointer;
}

.addLike:hover{
	transform: scale(1.4);
}

.liked{
	background: url(img/like3.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
	border: none;
}


/*-------------------footer---------------------------------*/
.footerMenu{
	background-color: #464644;
}
footer > div > p{
	background-color: #30332c;
	text-align: center;
	font-size: 16px;
	color:#d5d5d4;
	font-family: 'Myriad Pro';
	padding: 10px;

}
.footerMenu{
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content:space-around;
	padding : 15px;
}

.footerLinks{
	width: 25%;
	padding: 10px 20px;
}

.footerLinks ul{
	list-style: none;
}

.footerLinks > ul > li{

	border-bottom: 0.4px solid grey;
	padding: 5px 0;
	font-size: 13px;
}
.footerLinks > ul > li > a {
	display: block;
	height: auto;
	text-decoration: none;
    text-align: left;
    color:#d5d5d4;
}
.footerLinks > ul > li:first-child {

    font-size: 19px;
}
.footerLinks > ul > li > a:hover {
	background-image:linear-gradient(to bottom, #92d673, #7bb562);
	color: white;
}



/**/
/**/




/*------Смена стиля для маленьких экранов-----------*/

@media only screen and (max-width: 650px){

.center{
	position: relative;
}

 .rightSide{
	width: 100%;
} 
 
  
.leftSide>div{
	display: none;
}

.rightSide label{
	padding: 10px;
}

.sliderDiv>img{
	float:none;
	transform: scale(0.6);
	margin-bottom: -30px;
}

 .sliderDiv>h1, .sliderDiv>h2, .sliderDiv>h3{
	transform: scale(0.6);
	margin: 0;
	font-size: 28px;
	vertical-align: top;
}

.sliderDiv{
	padding: 10px;
}

}


/*Смена стиля для средних экранов*/

@media only screen and (max-width: 991px){
.topLinks li{
	font-size: 15px;
}


  .logo{
  	zoom:70%;
  }
  #buttonCheck{
  	zoom:80%;
  }
  #buttonLike{
  	zoom:80%;
  }

.footerLinks{
	width: 50%;
}
}
